* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Edu TAS Beginner", serif;

}

h1 {
    font-size: 50px;
    text-transform: uppercase;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.wrap {
    flex-wrap: wrap;
}

.g-row {
    gap: 20px;
}

.flex-column {
    flex-direction: column;
}

.d-none {
    display: none;
}

header {
    background-image: url(./img/wall.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
}
main {
    background-image: url(./img/cork.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 100px);
    /* height: 100%; */
}

.container {
    max-width: 750px;
    margin: 0 auto;
    padding: 20px 35px;
}

.col {
    width: calc((100% - 40px)/3);
    position: relative;
    background-color: white;
    border: 1px solid black;
    transition: all;
    transition-duration: 0.5s;
}

.col:hover {
    transform: scale(1.1);
    rotate: 15deg;
    z-index: 3;
    box-shadow: 12px 12px 5px 0px rgba(0,0,0,0.7);
    cursor: pointer;
}

.col:hover #pin {
    display: none;
}

.img {
    aspect-ratio: 1;
    border: 1px solid black;
    margin: 12px 12px;
}

.text {
    height: 25%;
    margin: 0px 12px;
    font-size: 13px;
    margin-bottom: 10px;
}
#pin {
    position: absolute;
    top: -9px;
    left: 100px;
    width: 23px;
}

.img img {
    width: 100%;
    height: 100%;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
}

#overlay img {
    width: 500px;
    height: 500px;
    margin-top: 20px;
    box-shadow: 10px 10px 6px 7px rgba(0,0,0,0.7);
}

#overlay a {
    padding: 7px 20px;
    background-color: #E5A35F;
    cursor: pointer;
    font-weight: 600;
    border-radius: 50px;
    font-size: 25px;
    box-shadow: 10px 10px 6px 0px rgba(0,0,0,0.7);
}


@media  screen and (max-width: 768px) {
    .col {
        width: calc((100% - 40px)/2);
    }
    #pin {
        position: absolute;
        top: -9px;
        left: 48%;
        width: 23px;
    }
    main {
        background-image: url(./img/cork.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
    .container {
        padding: 20px 43px;;
    }
}

@media  screen and (max-width: 426px) {
    .col {
        width: calc((100%)/1);
        margin: 0px 20px;
    }
    #pin {
        position: absolute;
        top: -9px;
        left: 48%;
        width: 23px;
    }
    main {
        background-image: url(./img/cork.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
    }
}