* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Edu TAS Beginner", serif;

}

h1 {
    padding: 15px 0px;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
}

header {
    background-image: url(./img/wall.png);
    background-repeat: no-repeat;
    background-size: cover;
}